<div class="ui container">
    <a href="/" class="header item">
    <img class="logo" src="/favicon-32x32.png">
    {{site.name}}
    </a>
    <a href="/" class="item">Home</a>
    <div class="ui simple dropdown item">Mangas <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/missing-mangas">Missing Volumes</a>
          <a class="item" href="/statistics">Statistics</a>
        </div>
    </div>
    <div class="right menu">
    {% if user %}
      <div class="header item">{{user.username}}</div> 
      <a class="item" href="/logout">Log Out</a>
    {% else %}
      <a class="item" href="/login">Log In</a>
    {% endif %}
    </div>
</div>