{% extends "layouts/default.twig" %}

{% block content %}
    <div class="ui text container">
        <h1>Missing Mangas</h1>

        <div class="ui divided items">
            {% for series in missingSeries %}
            <div class="item">
                <div class="ui mini image">
                    <img src="{{ series.thumbnail }}">
                </div>
                <div class="middle aligned content">
                    <div class="header">{{ series.title }}</div>
                    <div class="description">
                        {{ series.missingVolumes | join(', ', ' and ') }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}