{% extends "layouts/default.twig" %}

{% block content %}
    <div class="ui text container">
        <div class="ui segment">
            <h1>Wishlist</h1>
            <form class="ui form">
                <div class="field" action="/api/todo" method="post">
                    <textarea rows="16">{{ wishlist }}</textarea>
                    <div class="ui button" onclick="saveWishlist($(this).prev());">Save</div>
                </div>
            </form>
        </div>
    </div>

    {% if messages|length > 0 %}
        <div class="ui section">
            <h2>logs</h2>
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        async function saveWishlist(item) {
            let result = await fetch(`/user/wishlist`, {
                method: "PATCH",
                headers: { "Content-type": "application/json; charset=UTF-8" },
                body: $(item).val()
            });
            if (result.ok) {
                document.location.reload();
            } else {
                // TODO: write an error message somewhere in the page.
                console.log('error updating!');
            }
        }
    </script>

{% endblock %}